<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.seed.mapper.IssueMapper">

    <!-- Results -->
    <resultMap id="momentumResult" type="Momentum">
        <result property="registerDate" column="register_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="changeDate" column="change_date" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="issueResult" type="Issue" extends="momentumResult">
        <id property="id" column="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.example.seed.mapper.handler.UUIDCustomHandler"/>
        <result property="title" column="title" javaType="String"/>
        <result property="description" column="description" javaType="String" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="OTHER" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="priority" column="priority" jdbcType="OTHER" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="status" column="status" jdbcType="OTHER" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <!-- SQL Queries -->
    <select id="findAllIssues" resultMap="issueResult">
        SELECT * FROM ISSUE
    </select>

    <select id="findIssueById" resultMap="issueResult" parameterType="RequestIssueEvent">
        SELECT * FROM ISSUE WHERE id = #{id}
    </select>

    <insert id="createIssue" useGeneratedKeys="true" parameterType="CreateIssueEvent">
        INSERT INTO ISSUE
        (id, title, description, type, priority, status, register_date, change_date)
        VALUES(
            #{issue.id, mode=IN, javaType=java.util.UUID},
            #{issue.title, mode=IN, javaType=String},
            #{issue.description, mode=IN, javaType=String},
            #{issue.type, mode=IN},
            #{issue.priority, mode=IN},
            #{issue.status, mode=IN},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <update id="saveIssue" parameterType="UpdateIssueEvent">
        UPDATE ISSUE
        SET
            description = #{issue.description, mode=IN, javaType=String},
            type = #{issue.type, mode=IN},
            priority = #{issue.priority, mode=IN},
            status = #{issue.status, mode=IN},
            change_date = CURRENT_TIMESTAMP
        WHERE
          id = #{issue.id, mode=IN, javaType=java.util.UUID}
    </update>

    <delete id="deleteIssue"  parameterType="DeleteIssueEvent">
        DELETE FROM ISSUE
        WHERE
          id = #{id, mode=IN, javaType=java.util.UUID}
    </delete>
</mapper>