<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.seed.mapper.IssueMapper">

    <!-- Results -->
    <resultMap id="momentumResult" type="Momentum">
        <result property="registerDate" column="register_date" javaType="Date"/>
        <result property="changeDate" column="change_date" javaType="Date"/>
    </resultMap>
    <resultMap id="issueResult" type="Issue" extends="momentumResult">
        <id property="id" column="id" javaType="Long"/>
        <result property="title" column="title" javaType="String"/>
        <result property="description" column="description" javaType="String"/>
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="priority" column="priority" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <!-- SQL Queries -->
    <select id="findAllIssues" resultMap="issueResult">
        SELECT * FROM ISSUE
    </select>

    <select id="findIssueById" resultMap="issueResult">
        SELECT * FROM ISSUE WHERE id = #{id}
    </select>

    <insert id="createIssue" parameterType="Issue">
        INSERT INTO ISSUE
        (title, description, type, priority, status, register_date, change_date)
        VALUES
        (#{title}, #{description}, #{type}, #{priority}, #{status}, #{register_date}, #{change_date})
    </insert>

    <update id="saveIssue" parameterType="Issue">
        UPDATE ISSUE
        SET
        description = #{description},
        type = #{type},
        priority = #{priority},
        status = #{status},
        change_date = #{change_date}
        WHERE id = #{id}
    </update>

    <delete id="deleteIssue" parameterType="Long"/>
</mapper>